/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FORMSTYLER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.jq-selectbox__select{
		height: 16px;
		padding: 0 11px 0 5px;
		border: none !important;
		-webkit-border-radius: 0;
		        border-radius: 0;
		background: #FFF;
		text-shadow: none;
		color: #1b1a1a;
		font-family: 'partnercondensedregular';
		font-size: 13px;
		line-height: 17px;
		text-transform: uppercase;
	}
		.jq-selectbox__trigger{
			width: 11px;
			border-left: none;
		}
		.jq-selectbox__trigger-arrow{
			border: none;
			background: url(../images/icon/select_arrow.png) 0 0 no-repeat;
			width: 9px;
			height: 7px;
			top: 50%;
			left: 0;
			right: auto;
			margin-top: -3.5px;
		}
		.jq-selectbox__select-text{
			color: #1b1a1a;
			font-family: 'partnercondensedregular';
			font-size: 13px;
			line-height: 18px;
			text-transform: uppercase;
			width: 100% !important;
			text-align: center;
		}

	.jq-selectbox__dropdown{
		-webkit-box-shadow: none;
		        box-shadow: none;
	    color: #1b1a1a;
		font-family: 'partnercondensedregular';
		font-size: 13px;
		line-height: 17px;
		text-transform: uppercase;
		-webkit-border-radius: 0;
		        border-radius: 0;
		border: none;
		margin: 0;
		width: auto;
		right: 0;
	}
	.jq-selectbox li{
    	padding: 0px 6px 0px 2px;
    	min-height: auto;
	}
	.jq-selectbox li:hover,
	.jq-selectbox li.selected{
		background-color: rgba(0,0,0,0.79);
		color: #FFF;
	}
	


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FORMSTYLER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  SCROLL-PANE CSS START      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.jspVerticalBar{
		width: 3px;
		background: transparent;
		-webkit-border-radius: 0;
		        border-radius: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin-top: 14px;
	}
		.jspTrack{
			-webkit-border-radius: 0;
			        border-radius: 0;
		    background: #5d5d5d;
		    width: 1px;
		    margin-left: 1px;
		}
			.jspDrag{
				background: #FFF;
				-webkit-border-radius: 0;
				        border-radius: 0;
				width: 3px;
				margin-left: -1px;
			}

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  SCROLL-PANE CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
