/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

@media only screen and (max-width: 1200px) {
	.bg1{
		-webkit-background-size: inherit;
		     -o-background-size: inherit;
		        background-size: inherit;
	    background-attachment: fixed; 
	    left: 0;
	    right: 0;
	    -webkit-transform: translateX(0);
	       -moz-transform: translateX(0);
	        -ms-transform: translateX(0);
	         -o-transform: translateX(0);
	            transform: translateX(0);
	    position: fixed;
	}
}
@media only screen and (max-width: 1199px) {
	.block_indent{
		margin: 6px 0 0 0;	
	}
}
@media only screen and (max-width: 991px) {
	.registration{
		margin: 0 14px;
		padding: 21px 20px 6px 20px;
	}
	header{
		padding: 30px 0;
	}
	.header_log-in-box{
		position: static;
	    width: calc(517px + 40px);
	    max-width: 100%;
	    margin: 20px auto 0;
	    padding: 0 20px;
	}
	.profile_left_block,
	.profile_right_block,
	.admin_left_block,
	.profile_left_block.w415,
	.profile_left_block.w414,
	.profile_left_block.w392,
	.profile_left_block.w425,
	.profile_left_block.w405{
		width: 100%;
		float: none;
	}
	.profile_left_info_block,
	.profile_sale{
		float: left;
		width: 50%;
	}
	.profile_sale{
		margin-bottom: 20px;
	}
	.introduced_list_sale{
		clear: both;
	}
	.profile_right_buttons button:nth-child(even){
		float: left;
	}
	[class*="btn_big_"]{
		width: calc(50% - 10px);
		max-width: 100%;
	}
	[class*="sale-rating_command_item_"]{
		width: calc(50% - 5px);
	}
	.profile_img_box{
		margin: 0 auto 15px;
	}
	.profile_logo{
		text-align: center;
	}
	.scroll_container{
		width: 100% !important;
	}
	.admin_block .profile_right_buttons .btn_big_violet{
		margin-bottom: 9px;
	}
	/*-------    Admin page    ------*/
	[class*="btn_big2_"]{
		width: 100%;
	}
	.input_box2_left{
		width: 40%;
	}
	.input_box2_right{
		width: 60%;
	}
	
}

@media only screen and (max-width: 767px) {
	.authorization{
		margin-left: 10px;
		margin-right: 10px;
	}
	.logo{
		margin: 0 20px;
	}
	.profile_difinition_left{
		width: 160px;
	}
	.pagination_list li a{
		font-size: 18px;
		line-height: 20px;
		padding: 5px;
	}
	.pagination_list li.prev a {
	    padding-right: 5px;
	    margin-right: 5px;
	}
	.pagination_list li.next a {
	    padding-left: 5px;
	    margin-left: 5px;
	}
	.introduced_table_team .introduced_table_th,
	.introduced_table_admin_user .introduced_table_th{
		display: none;
	}
	.introduced_table_team,
	.introduced_table_admin_user{
		counter-reset: list;
	}
	[data-table-text]:before{
		color: #000;
	    font-size: 18px;
	    line-height: 20px;
	    text-align: center;
	    display: block;
	    background-color: #fff;
	    padding: 8px 0 2px 0;
	    margin-bottom: 20px;
	    margin-left: -5px;
	    margin-right: -5px;
	    content: attr(data-table-text);
	}
	.introduced_table_team .introduced_table_td:nth-child(1)[data-table-text]:before,
	.introduced_table_admin_user .introduced_table_td:nth-child(1)[data-table-text]:before{
		counter-increment: list;
		content: attr(data-table-text) " - " counter(list);
	}
	.introduced_table_team .introduced_table_td,
	.introduced_table_team .introduced_table_td:nth-child(1),
	.introduced_table_team .introduced_table_td:nth-child(2),
	.introduced_table_team .introduced_table_td:nth-child(3),
	.introduced_table_admin_user .introduced_table_td,
	.introduced_table_admin_user .introduced_table_td:nth-child(1),
	.introduced_table_admin_user .introduced_table_td:nth-child(2),
	.introduced_table_admin_user .introduced_table_td:nth-child(3){
		display: block;
		width: 100%;
		border: none;
		padding: 5px 15px 10px 15px;
	    opacity: 1;
	}
	.introduced_table_team .introduced_table_td:nth-child(1),
	.introduced_table_admin_user .introduced_table_td:nth-child(1){
		padding-top: 10px;
	}
	.introduced_table_team .introduced_table_td:nth-child(3),
	.introduced_table_admin_user .introduced_table_td:nth-child(3){
		text-align: left;
		padding-bottom: 15px;
	}
	.introduced_table_team .introduced_table_td,
	.introduced_table_admin_user .introduced_table_td{
		font-size: 15px;
		line-height: 17px;
	}
	.introduced_table_team .introduced_table_tr,
	.introduced_table_admin_user .introduced_table_tr{
		border: 2px solid #ccc;
	}
	.introduced_table_team .introduced_table_tr.active .introduced_table_td[data-table-text]:before,
	.introduced_table_admin_user .introduced_table_tr.active .introduced_table_td[data-table-text]:before{
		background-color: #1afb64;
	}
	.introduced_table_input{
		height: 16px;
		width: 40px;
		line-height: 16px;
		font-size: 14px;
	}
	.input_tb{
		margin-top: -2px;
	}
	.input_box2_left,
	.input_box2_right{
		width: 100%;
		float: none;
	}
	.input_box2_left{
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 620px) {
	.profile_left_info_block, 
	.profile_sale{
		width: 100%;
		float: none;
	}
	.profile_info_title,
	.title_sale,
	.introduced_list_sale .title2{
		text-align: center;
	}
	.profile_difinition_left{
		width: 50%;
	}
	.profile_form_sale,
	.mxw350{
		max-width: 100%;
	}
}

@media only screen and (max-width: 479px) {
	body{min-width:320px;}
	.select_box:not(:last-child) {
	    margin-right: 9.1px;
	}
	[class*="btn_big_"]{
		width: 100%;
	}
	.profile_right_buttons button{
		margin: 0 0 9px;
	}
	.profile_right_buttons{
		margin: 0 0 9px 0;
	}
	.profile_right_buttons button:nth-last-child(2){
		margin-bottom: 9px;
	}
	.title3{
		font-size: 14px;
		line-height: 16px;
	}
	[class*="sale-rating_command_item_"]{
		width: calc(50% - 2px);
		padding: 12px 5px 15px 5px;
	}
	.block_indent{
		min-height: auto;
	}
	.profile_img_box{
		height: auto;
	}
	.introduced_table_td{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		vertical-align: middle;
		border: 1px solid #fff;
	}
	.introduced_table_td:nth-child(1){
		width: 95px;
		padding-right: 10px;
	}
	.introduced_table_td:nth-child(2){
		padding-right: 5px;
		width: 75px;
	}
	.resp-tab-item:not(:last-child) {
	    margin-right: 25px;
	}
	.resp-tabs-list{
		padding: 0;
	}
	[data-table-text]:before{
		font-size: 16px;
	}
	.main_input_rating > div{
		float: none;
	}
	.main_input_rating > div:not(:last-child){
		margin-bottom: 10px;
	}
	.admin_comm_ratin_inp .selection_month,
	.admin_comm_ratin_inp label{
		float: none;
		display: block;
	}
	.admin_comm_ratin_inp .selection_month{
		margin: 10px 0;
	}
	.admin_comm_ratin_inp a{
		float: none;
	}
	.opacity_black_box {
	    padding: 39px 23px 35px 20px;
	}
	/*-------    Admin page    ------*/
	.map_box{
		height: 250px;
	}
}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================