/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/bootstrap.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../plugins/scroll-pane/jquery.jscrollpane.css";
        @import "../css/plugins.css";
        @import "../css/style2.css";
        
        
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
        font-size:14px;
        line-height:16px;
        color:#fff;
        min-width:320px;
        background:#000;
        -webkit-text-size-adjust: none;
        position: relative;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:none;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: none;
                text-decoration: none;
                text-align: center;
            }
            
            /* [class*="btn_"] */
            [class*="btn_"]{
                padding: 10px 10px;
                font-size: 13px;
                line-height: 14px;
            }

            /* [class*="btn_small_"] */
            [class*="btn_small_"]{
                padding: 3.5px 6.87px 1.5px 6.87px;
                font-family: 'partnercondensedregular';
                text-transform: uppercase;
                border: 1px solid transparent;
            }

            /* [class*="btn_big_"] */
            [class*="btn_big_"]{
                padding: 13px 5px 7px 5px;
                max-width: 202px;
                width: 46.65127020785219%;
                font-family: 'partnercondensedregular';
                font-size: 17px;
                line-height: 19px;
                text-transform: uppercase;
                border: 2px solid transparent;
            }


            /* [class*="btn_big2_"] */
            [class*="btn_big2_"]{
                padding: 11px 10px 7px;
                width: 392px;
                max-width: 100%;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                font-family: 'partnercondensedregular';
            }
            
            /* [class*="btn_small2_"] */
            [class*="btn_small2_"]{
                font-size: 10px;
                font-weight: 700;
                line-height: 12px;
                padding: 2px 10px 0px 9px;
                font-family: 'partnercondensedregular';
                text-transform: uppercase;
                border: 1px solid transparent;
            }
            
            /* btn_small_white */
                .btn_small_white{
                    background: #FFF;
                    color: #282525;
                }
                .btn_small_white:hover{
                    border: 1px solid #fff;
                    background: transparent;
                    color: #FFF;
                }
            /*end of btn_small_white */
            
            
            /* btn_big_violet */
                .btn_big_violet{
                    background: #403338;
                    color: #fff;
                }
                .btn_big_violet:hover,
                .btn_big_violet.current{
                    background: rgba(45, 94, 60, 0.45);
                }
            /*end of btn_big_violet */
            

            /* btn_big2_red */
                .btn_big2_red{
                    background: #f61f4d;
                    color: #FFF;
                }
                .btn_big2_red:hover,
                .btn_big2_red.current{
                    background: rgba(246, 31, 77, 0.60);
                }
            /*end of btn_big2_red */
            
            /* btn_small2_red */
                .btn_small2_red{
                    background: #f61f4d;
                    color: #fff;
                }

                    .btn_small2_red:hover{
                        background: none;
                        border-color: #f61f4d;
                        color: #fff;
                    }
            /* btn_small2_red */


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 18px;
                line-height: 1.2;
                color:#272729;
            }
            .title2,
            .fz20{
                font-size: 20px;
                line-height: 22px;
            }
            .title3{
                font-size: 17px;
                line-height: 19px;
            }
            .title4,
            .fz16{
                font-size: 16px;
                line-height: 18px;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        
            
            /* partner */
            
            .partner_it{font-family: 'partneritalic';}

            .partner_reg{font-family: 'partnerregular';}

            .partner_black_reg{font-family: 'partnerblackregular';}

            .partner_black_it{font-family: 'partnerblackitalic';}

            .partner_bd{font-family: 'partnerbold';}

            .partner_bd_it{font-family: 'partnerbold_italic';}

            .partner_lt_reg{font-family: 'partnerlightregular';}

            .partner_lt_it{font-family: 'partnerlightitalic';}

            /* end of partner */
            

            /* partner condensed */

            .partner_cond_reg{font-family: 'partnercondensedregular';}

            .partner_cond_bd{font-family: 'partnercondensedbold';}

            .partner_cond_bd_it{font-family: 'partnercondensedbold_italic';}

            .partner_cond_it{font-family: 'partnercondenseditalic';}

            .partner_extra_bd_reg{font-family: 'partnerextraboldregular';}

            .partner_bd_it{font-family: 'partnerextrabolditalic';}

            .partner_ult_cond_reg{font-family: 'partnerultracondensedregular';}

            .partner_lt_ult_cond_reg{font-family: 'partnerlightultracondensedRg';}

            .partner_lt_cond_reg{font-family: 'partnerlightcondensedregular';}

            .partner_lt_cond_it{font-family: 'partnerlightcondenseditalic';}

            .partner_thin_ult_cond_reg{font-family: 'partnerthinultracondensedRg';}

            .partner_ult_cond_it{font-family: 'partnerultracondenseditalic';}

            /* end of partner condensed */
            


        /*======================>  INSTALL FONTS START  <======================*/
        
            /* partner */
                @font-face {
                    font-family: 'partneritalic';
                    src: url('../font/partner-italic-webfont.eot');
                    src: url('../font/partner-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partner-italic-webfont.woff2') format('woff2'),
                         url('../font/partner-italic-webfont.woff') format('woff'),
                         url('../font/partner-italic-webfont.ttf') format('truetype'),
                         url('../font/partner-italic-webfont.svg#partneritalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerregular';
                    src: url('../font/partner-webfont.eot');
                    src: url('../font/partner-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partner-webfont.woff2') format('woff2'),
                         url('../font/partner-webfont.woff') format('woff'),
                         url('../font/partner-webfont.ttf') format('truetype'),
                         url('../font/partner-webfont.svg#partnerregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerblackregular';
                    src: url('../font/partnerblack-webfont.eot');
                    src: url('../font/partnerblack-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerblack-webfont.woff2') format('woff2'),
                         url('../font/partnerblack-webfont.woff') format('woff'),
                         url('../font/partnerblack-webfont.ttf') format('truetype'),
                         url('../font/partnerblack-webfont.svg#partnerblackregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerblackitalic';
                    src: url('../font/partnerblack-italic-webfont.eot');
                    src: url('../font/partnerblack-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerblack-italic-webfont.woff2') format('woff2'),
                         url('../font/partnerblack-italic-webfont.woff') format('woff'),
                         url('../font/partnerblack-italic-webfont.ttf') format('truetype'),
                         url('../font/partnerblack-italic-webfont.svg#partnerblackitalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerbold';
                    src: url('../font/partner-bold-webfont.eot');
                    src: url('../font/partner-bold-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partner-bold-webfont.woff2') format('woff2'),
                         url('../font/partner-bold-webfont.woff') format('woff'),
                         url('../font/partner-bold-webfont.ttf') format('truetype'),
                         url('../font/partner-bold-webfont.svg#partnerbold') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerbold_italic';
                    src: url('../font/partner-bolditalic-webfont.eot');
                    src: url('../font/partner-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partner-bolditalic-webfont.woff2') format('woff2'),
                         url('../font/partner-bolditalic-webfont.woff') format('woff'),
                         url('../font/partner-bolditalic-webfont.ttf') format('truetype'),
                         url('../font/partner-bolditalic-webfont.svg#partnerbold_italic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerlightregular';
                    src: url('../font/partnerlight-webfont.eot');
                    src: url('../font/partnerlight-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerlight-webfont.woff2') format('woff2'),
                         url('../font/partnerlight-webfont.woff') format('woff'),
                         url('../font/partnerlight-webfont.ttf') format('truetype'),
                         url('../font/partnerlight-webfont.svg#partnerlightregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerlightitalic';
                    src: url('../font/partnerlight-italic-webfont.eot');
                    src: url('../font/partnerlight-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerlight-italic-webfont.woff2') format('woff2'),
                         url('../font/partnerlight-italic-webfont.woff') format('woff'),
                         url('../font/partnerlight-italic-webfont.ttf') format('truetype'),
                         url('../font/partnerlight-italic-webfont.svg#partnerlightitalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
            /* end of partner */


            /* partner condensed */
                @font-face {
                    font-family: 'partnercondensedregular';
                    src: url('../font/partnercondensed-webfont.eot');
                    src: url('../font/partnercondensed-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnercondensed-webfont.woff2') format('woff2'),
                         url('../font/partnercondensed-webfont.woff') format('woff'),
                         url('../font/partnercondensed-webfont.ttf') format('truetype'),
                         url('../font/partnercondensed-webfont.svg#partnercondensedregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnercondensedbold';
                    src: url('../font/partnercondensed-bold-webfont.eot');
                    src: url('../font/partnercondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnercondensed-bold-webfont.woff2') format('woff2'),
                         url('../font/partnercondensed-bold-webfont.woff') format('woff'),
                         url('../font/partnercondensed-bold-webfont.ttf') format('truetype'),
                         url('../font/partnercondensed-bold-webfont.svg#partnercondensedbold') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnercondensedbold_italic';
                    src: url('../font/partnercondensed-bolditalic-webfont.eot');
                    src: url('../font/partnercondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnercondensed-bolditalic-webfont.woff2') format('woff2'),
                         url('../font/partnercondensed-bolditalic-webfont.woff') format('woff'),
                         url('../font/partnercondensed-bolditalic-webfont.ttf') format('truetype'),
                         url('../font/partnercondensed-bolditalic-webfont.svg#partnercondensedbold_italic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnercondenseditalic';
                    src: url('../font/partnercondensed-italic-webfont.eot');
                    src: url('../font/partnercondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnercondensed-italic-webfont.woff2') format('woff2'),
                         url('../font/partnercondensed-italic-webfont.woff') format('woff'),
                         url('../font/partnercondensed-italic-webfont.ttf') format('truetype'),
                         url('../font/partnercondensed-italic-webfont.svg#partnercondenseditalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerextraboldregular';
                    src: url('../font/partnerextrabold-webfont.eot');
                    src: url('../font/partnerextrabold-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerextrabold-webfont.woff2') format('woff2'),
                         url('../font/partnerextrabold-webfont.woff') format('woff'),
                         url('../font/partnerextrabold-webfont.ttf') format('truetype'),
                         url('../font/partnerextrabold-webfont.svg#partnerextraboldregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerextrabolditalic';
                    src: url('../font/partnerextrabold-italic-webfont.eot');
                    src: url('../font/partnerextrabold-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerextrabold-italic-webfont.woff2') format('woff2'),
                         url('../font/partnerextrabold-italic-webfont.woff') format('woff'),
                         url('../font/partnerextrabold-italic-webfont.ttf') format('truetype'),
                         url('../font/partnerextrabold-italic-webfont.svg#partnerextrabolditalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerultracondensedregular';
                    src: url('../font/partnerultracondensed-webfont.eot');
                    src: url('../font/partnerultracondensed-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerultracondensed-webfont.woff2') format('woff2'),
                         url('../font/partnerultracondensed-webfont.woff') format('woff'),
                         url('../font/partnerultracondensed-webfont.ttf') format('truetype'),
                         url('../font/partnerultracondensed-webfont.svg#partnerultracondensedregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerlightcondensedregular';
                    src: url('../font/partnerlightcondensed-webfont.eot');
                    src: url('../font/partnerlightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerlightcondensed-webfont.woff2') format('woff2'),
                         url('../font/partnerlightcondensed-webfont.woff') format('woff'),
                         url('../font/partnerlightcondensed-webfont.ttf') format('truetype'),
                         url('../font/partnerlightcondensed-webfont.svg#partnerlightcondensedregular') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerlightultracondensedRg';
                    src: url('../font/partnerlightultracondensed-webfont.eot');
                    src: url('../font/partnerlightultracondensed-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerlightultracondensed-webfont.woff2') format('woff2'),
                         url('../font/partnerlightultracondensed-webfont.woff') format('woff'),
                         url('../font/partnerlightultracondensed-webfont.ttf') format('truetype'),
                         url('../font/partnerlightultracondensed-webfont.svg#partnerlightultracondensedRg') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerlightcondenseditalic';
                    src: url('../font/partnerltcondensed-italic-webfont.eot');
                    src: url('../font/partnerltcondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerltcondensed-italic-webfont.woff2') format('woff2'),
                         url('../font/partnerltcondensed-italic-webfont.woff') format('woff'),
                         url('../font/partnerltcondensed-italic-webfont.ttf') format('truetype'),
                         url('../font/partnerltcondensed-italic-webfont.svg#partnerlightcondenseditalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerthinultracondensedRg';
                    src: url('../font/partnerthinultracondensed-webfont.eot');
                    src: url('../font/partnerthinultracondensed-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerthinultracondensed-webfont.woff2') format('woff2'),
                         url('../font/partnerthinultracondensed-webfont.woff') format('woff'),
                         url('../font/partnerthinultracondensed-webfont.ttf') format('truetype'),
                         url('../font/partnerthinultracondensed-webfont.svg#partnerthinultracondensedRg') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'partnerultracondenseditalic';
                    src: url('../font/partnerultcondensed-italic-webfont.eot');
                    src: url('../font/partnerultcondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/partnerultcondensed-italic-webfont.woff2') format('woff2'),
                         url('../font/partnerultcondensed-italic-webfont.woff') format('woff'),
                         url('../font/partnerultcondensed-italic-webfont.ttf') format('truetype'),
                         url('../font/partnerultcondensed-italic-webfont.svg#partnerultracondenseditalic') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                /* end partner condensed */

        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }

            input:focus::-webkit-input-placeholder {
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            input:focus::-moz-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            input:focus:-moz-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            input:focus:-ms-input-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                font-family: 'partnercondensedregular', Arial, Helvetica, sans-serif;
                color: #070707;
                font-size: 14px;
                opacity: 1;
                transition:opacity ease 0.8s;
            }

            textarea:focus::-webkit-input-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            textarea:focus::-moz-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            textarea:focus:-moz-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            textarea:focus:-ms-input-placeholder{
                opacity: 0;
                transition:opacity ease 0.5s;
            }
            /*===  textarea end    ===*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/



[data-bg-img="certina"]{
    background: url(../images/certina.jpg) 50% 0 no-repeat;
}
[data-bg-img="bg_img2"]{
    background: url(../images/bg_img2.jpg) 50% 0 no-repeat;
}
.bg1{
    position: absolute;
    display: inline-block;
    width: 1280px;
    max-width: 100%;
    height: 1024px;
    z-index: -1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-background-size: 100% auto; 
    background-size: 100% auto;
}


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        padding-top: 55px;
        padding-bottom: 31px;
        text-align: center;
    }
        .header_container{
            position: relative;
        }
            .logo{
              display: inline-block;
            }
                .logo a{
                    display:inline-block;
                    text-decoration:none;
                    font-size: 0;
                }


            .header_log-in-box{
                position: absolute;   
                top: -36px;
                right: 30px;
                text-align: right;
            }
                .header_log-in-name{
                    font-size: 16px;
                    line-height: 21px;
                    text-transform: uppercase;   
                    margin-bottom: 0;
                }
                .exit_profile_link{
                    color: #FFF !important;
                    font-family: 'partnerlightcondensedregular';
                    font-size: 12px;
                    line-height: 21px;
                    text-transform: uppercase;
                }
                    .exit_profile_link:hover{
                        text-decoration: underline;
                    }




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        padding: 0px 0px 50px 0px; 
        /* min-height: 600px; */
        z-index: 99;
        position: relative;
    }


    /*====>  AUTHORIZATION and REGISTRATION PAGE START  <====*/
        .authorization,
        .registration{
            background: #272729;
            margin-left: 17px;
            margin-right: 0;
            padding: 21px 23px 14px 24px;
        }
        .authorization{
            font-size: 17px;
            line-height: 1;
            padding: 21px 23px 9px 24px;
        }
        .authorization + .authorization_social{
            margin-left: 17px;
        } 
            .authorization .input_box label{
                padding-top: 2px;
                float: left;
            }
            .input_box label{
                color: #fff;
                
            }
            .authorization_input_wrapp{
                width: 73.78%;
            }
            .authorization_input{
                line-height: 19px;
                font-size: 14px;
                border: none;
                width: 100%;
                padding: 0 10px;
            }

            .authorization_link,
            .recall_pass{
                color: #fff;
                text-decoration: none;
                margin-right: 34px;
                line-height: 20.57px;
            }
                .authorization_link:last-child{
                    margin-right: 0;
                }
            .recall_pass{
                font-size: 12px;
                margin: 0;
            } 

        .social_link{
            text-decoration: none;
            color: #fff;
            background: #272729;
            width: 110px;
            line-height: 1;
            padding: 12px 5px 9px;
            border: 1px solid #38383a;
            margin: 0 5px;
        }       

        /*regestration*/

        .registration{
            padding: 21px 89px 6px 16px; 
            margin-right: 7px;
            margin: 0 14px 0 32px;
        }

            .registration .authorization_input_wrapp{
                width: 58%;
            }
            .registration .input_box label{
                text-align: right;
                display: inline-block;
                width: 42%;
                padding-top: 3px;
                padding-right: 18px;    
            }
            .registration .authorization_input_wrapp label{
                padding: 0 0 0;
                font-size: 12px;
                line-height: 16px;
                width: calc(100% - 29px);
                text-align: left;
                overflow: hidden;
                cursor: pointer;
            }
            .registration .authorization_input_wrapp .jq-checkbox{
                margin-right: 14px;
            }
            .registration .jq-checkbox{
                float: left;
                border-radius: 0;
                border: none;   
                box-shadow: none;
                background: url(../images/bg_checkbox.jpg) 0 0 no-repeat;
                width: 15px;
                height: 15px;
            }
            .registration .jq-checkbox.checked .jq-checkbox__div{
                width: 11px;
                height: 11px;
            }
            .send_button{
                background: #403338;
                padding: 15px 27px 12px;
                border: 1px solid transparent;
            }
                .send_button:hover{
                    border-color: #403338;
                    background: none;
                }

            .registration_text{
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 0;
            }
    /*====>  AUTHORIZATION and REGISTRATION PAGE END    <====*/
    

    /*====>  PROFILE PAGE START  <====*/
        .opacity_black_box{
            background-color: rgba(0,0,0,0.79);
            padding: 39px 23px 20px 20px;
        }
        .block_indent{
            margin: 6px 17px 0 15px;
            min-height: 704px;
            position: relative;
        }
            .profile_logo{
                margin-bottom: 47px;
            }
            .profile_item_blocks{
                margin-bottom: 10px;
            }

                /* profile_left_block */
                
                
                .profile_left_block{
                    width: 349px;
                    max-width: 100%;
                    float: left;
                }


                /* profile_left_info_block */
                    .profile_left_info_block{
                        margin-bottom: 38px;
                    }
                        .profile_info_title{
                            margin-bottom: 16px;
                        }
                        .profile_information{
                            
                        }
                            .profile_information_item{
                                margin-bottom: 6px;
                            }
                                .profile_difinition{
                                    font-size: 11px;
                                    line-height: 17px;
                                    text-transform: uppercase;
                                }


                                    .profile_difinition_left{
                                        position: relative;   
                                        width: 182px;
                                        float: left;
                                    }
                                        .profile_difinition_left:after{
                                            content: "";
                                            background: url(../images/icon/line.png) 0 0 repeat-x;
                                            width: 100%;
                                            height: 1px;
                                            position: absolute;
                                            right: 0;
                                            bottom: 6px;
                                            display: inline-block;
                                        }
                                            .profile_difinition_left span{
                                                position: relative;
                                                z-index: 9;
                                            }
                                            .profile_difinition_left span:before{
                                                position: absolute;
                                                background-color: rgba(0,0,0,0.79);
                                                height: 1px;
                                                width: 100%;
                                                left: 0;
                                                bottom: 6px;
                                                content: "";
                                                z-index: -1;
                                            }


                                    .profile_difinition_right{
                                        float: left;
                                    }
                    /* end of profile_left_info_block */
                    
                    /* profile_sale */
                    .profile_sale{
                        margin-bottom: 46px;
                    }
                        .title_sale{
                            margin-bottom: 21px;
                        }
                        .profile_form_sale{
                            max-width: 283px;
                        }
                            .profile_form_sale label{
                                padding-top: 1px;
                                display: inline-block;
                                font-size: 11px;
                                line-height: 13px;
                            }
                            .profile_form_sale .authorization_input{
                                line-height: 16px;
                                font-size: 12px;
                                height: 16px;
                                padding: 0 5px;
                            }
                            .profile_form_sale .authorization_input_wrapp {
                                width: 60.92%;
                            }
                            .select_box{
                                width: 46px;
                                display: inline-block;
                            }
                            .select_box:not(:last-child){
                                margin-right: 14.1px;
                            }
                    /*end of profile_sale */
                    
                    /* introduced_list_sale */
                    .introduced_list_sale{
                        margin-bottom: 2px;
                    }
                        .introduced_table_sale{
                            table-layout: fixed;
                            width: 100%;
                        }
                            .introduced_table_tr{
                                
                            }
                                .introduced_table_td{
                                    color: white;
                                    font-size: 11px;
                                    line-height: 17px;
                                    padding-bottom: 6px;
                                }
                                .introduced_table_td:nth-child(1){
                                    width: 198px;
                                    padding-right: 31px;
                                }
                                .introduced_table_td:nth-child(2){
                                    width: 105px;
                                    padding-right: 28px;
                                }
                                .introduced_table_td:nth-child(3){
                                    width: 46px;
                                }
                    /*end of introduced_list_sale */
                    
                    /* pagination_list */
                    .pagination_list{
                        text-align: center;
                    }
                        .pagination_list li{
                            display: inline-block;
                        }
                        .pagination_list li.prev{
                            
                        }
                            .pagination_list li.prev a{padding-right: 1px;}
                        .pagination_list li.next{
                            
                        }
                            .pagination_list li.next a{padding-left: 1px;}
                            .pagination_list li a{
                                color: #fff;
                                font-size: 11px;
                                line-height: 17px;
                            }
                                .pagination_list li.current a{
                                    font-weight: bold;   
                                }
                    /*end of pagination_list */
                    

                /*end of profile_left_block */


                /* profile_right_block */
                
                .profile_right_block{
                    width: 433px;
                    max-width: 100%;
                    float: right;
                    margin-top: 17px;
                }


                    /* profile_right_buttons */
                    .profile_right_buttons{
                        margin: 0 -5px 9px -5px;
                    }
                        .profile_right_buttons button{
                            float: left;
                            margin: 0 5px 9px;
                        }
                        .profile_right_buttons button:nth-child(even){
                            float: right;
                        }
                        .profile_right_buttons button:nth-last-child(1),
                        .profile_right_buttons button:nth-last-child(2){
                            margin-bottom: 0;
                        }
                    /*end of profile_right_buttons */
                    
                    /* sale-rating_command_box */
                    .sale-rating_command_box{
                        margin-bottom: 27px;
                    }
                        [class*="sale-rating_command_item_"]{
                            width: 46.65127020785219%;
                            max-width: 100%;
                            text-align: center;
                            padding: 12px 10px 15px 10px;
                        }
                        .black_opacity{
                            background-color: rgba( 0 , 0 , 0 , 0.23 );
                        }
                        .sale-rating_command_item_left{
                            float: left;
                        }

                        .sale-rating_command_item_right{
                            float: right;
                        }

                            .counter_box{
                                
                            }
                                .counter_number{
                                    height: 74px;
                                    width: 49px;
                                    overflow: hidden;
                                    margin-right: -3px;
                                    display: inline-block;
                                    border: 1px solid #000;
                                    background: #272727; /* Old browsers */
                                    background: -moz-linear-gradient(top,  #272727 0%, #2c2c2c 10%, #434343 50%, #2c2c2c 90%, #272727 100%); /* FF3.6-15 */
                                    background: -webkit-linear-gradient(top,  #272727 0%,#2c2c2c 10%,#434343 50%,#2c2c2c 90%,#272727 100%); /* Chrome10-25,Safari5.1-6 */
                                    background: linear-gradient(to bottom,  #272727 0%,#2c2c2c 10%,#434343 50%,#2c2c2c 90%,#272727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                    color: #fff;
                                    font-family: 'partnercondensedbold';
                                    font-size: 61px;
                                    line-height: 74px;
                                    text-transform: uppercase;
                                    text-align: center;
                                    position: relative;
                                }
                                .counter_number:last-child{
                                  margin: 0 3px;
                                }
                                    .counter_number:after{
                                        content: "";
                                        position: absolute;
                                        z-index: 9;
                                        top: 50%;
                                        margin-top: -6px;
                                        left: 0;
                                        right: 0;
                                        width: 100%;
                                        height: 12px;
                                        background: url(../images/icon/center_line_count.png) 0 0 no-repeat;
                                    }
                                    .counter_number span{
                                        line-height: normal;
                                    }
                    /*end of sale-rating_command_box */
                    
                    /* profile_img_box */
                    .profile_img_box{
                        height: 243px;
                        width: 433px;
                        max-width: 100%;
                        overflow: hidden;
                    }
                    /* end of profile_img_box */
                    

                /*end of profile_right_block */
             
            /* copyright_box */
            .copyright_box{
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                text-align: right;
                vertical-align: baseline;
                bottom: 9px;
                right: 23px;
                position: absolute;
            }
                .copyright_icon{
                    display: inline-block;
                    padding-left: 5px;
                }
                .copyright_box *{
                    vertical-align: baseline;
                }
            /*end of copyright_box */


    /*====>  PROFILE PAGE END    <====*/


    /*====>  RULES PAGE START  <====*/    
        .profile_left_block.w414{
            width: 414px;
        }
        .profile_left_block.w392{
            width: 392px;
        }

            .tabs_container{
                
            }

                .resp-tabs-list{
                    padding: 0 0 0 17px;
                    margin-bottom: 30px;
                }
                    .resp-tab-item{
                        font-size: 20px;
                        line-height: 22px;
                        text-transform: uppercase;                        
                        color: #FFF;
                        cursor: pointer;
                        float: left;
                    }
                    .resp-tab-item:not(:last-child){
                        margin-right: 92px;
                    }
                    .resp-tab-item.resp-tab-active{
                        text-decoration: underline;
                    }


                .resp-tabs-container{
                    
                }

                    .scroll_container{
                        width: 414px;
                        max-width: 100%;
                        height: 410px;
                        overflow: hidden;
                        margin-bottom: 34px;
                    }
                        .scroll_container .jspPane{
                            width: 100% !important;
                        }
                        .rules_text_box{
                            padding-right: 27px;
                            color: #FFF;
                            /* min-width: 414px; */
                            max-width: 100%;
                        }

                            .title_rule{
                                font-size: 16px;
                                line-height: 1.2;    
                                margin-bottom: 17px;    
                            }
                            .rule_plan_text{
                                font-size: 13px;
                                line-height: 1.3;
                                margin-bottom: 18px;   
                            }
                            .rule_plan_text p{
                                margin-bottom: 0;
                            }
    /*====>  RULES PAGE END    <====*/
    

    /*====>  ADMIN MAP START  <====*/
        .admin_left_block{
            float: left;
            max-width: 100%;
            width: 404px;
        }
            .admin_form_map{
                margin-bottom: 45px;
            }
                .admin_form_map .select_box{
                    width: 110px;
                    text-align: left;
                }
                    .admin_form_map .jq-selectbox__select-text,
                    .big_select .jq-selectbox__select-text{
                        text-align: left;
                    }
            .map_box{
                width: 100%;
                height: 395px;
                max-height: 100%;
                background-color: #FFF;
                display: inline-block;
                margin-bottom: 20px;
            }

        .admin_block{
            
        }
            .admin_block .profile_right_buttons{
                margin-bottom: 11px;
            }
                .admin_block .profile_right_buttons .btn_big_violet{
                    margin-bottom: 19px;
                }
    /*====>  ADMIN MAP END    <====*/

    /*====>  ADMIN PROFILE START  <====*/
        .admin_information{
            margin-bottom: 40px;
        }
            .admin_information_item{
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                margin-bottom: 8px;
            }
            
        .admin_form_sale label{
            font-size: 16px;
        }

        .admin_form_sale{
            
        }
        .mxw350{
            max-width: 350px;
            width: 100%;
        }

            .big_select .select_box{
                width: 100%;
            }
            .big_select label{
                margin-bottom: 15px;
                display: inline-block;
            }
        

            .input_box2_left{
                width: 56%;
            }
            .input_box2_right{
                width: 44%;
            }
                .input_box2 label{
                    width: 100%;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                .input_box2 .input_box2_left input{
                    border: none;
                    width: 125px;
                    max-width: 100%;
                    padding: 1px 8px;
                }
                .input_box2 .input_box2_right input{
                    border: none;
                    display: inline-block;
                    padding: 1px 8px;
                }
                .input_box2 .input_box2_right input:nth-child(2),
                .input_box2 .input_box2_right input:nth-child(3){
                    width: 28px;
                    margin-right: 21px;
                }
                .input_box2 .input_box2_right input:last-child{
                    width: 48px;
                }
    /*====>  ADMIN PROFILE END    <====*/
    

    /*====>  COMAND RAITING START  <====*/
        .profile_left_block.w425{
            width: 425px;
        }
        .profile_left_block.w415{
            width: 415px;
        }
        .profile_left_block.w405{
            width: 405px;
        }
        .selection_month{
            margin-left: 23px;
        }
            .selection_month .select_box{
                width: 109px;
            }
                .selection_month .select_box .jq-selectbox__select-text{
                    text-align: left;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #191818;
                }
                .selection_month .select_box .jq-selectbox__select{
                    padding-left: 7px;
                }
        
        .introduced_table_team,
        .introduced_table_admin_user{
            table-layout: fixed;
            width: 100%;
        }

            .introduced_table_admin_user .introduced_table_th{
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                padding-bottom: 18px;
                text-transform: uppercase;
            }
            .introduced_list_team .introduced_table_tr.active .introduced_table_td{
                color: #1afb64;
            }
            .introduced_table_team .introduced_table_th{
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                text-transform: uppercase;
                padding-bottom: 14px;
            }
            
            .introduced_table_admin_user .introduced_table_td{
                padding-bottom: 9px;
            }

            .introduced_table_team .introduced_table_th,
            .introduced_table_team .introduced_table_td,
            .introduced_table_admin_user .introduced_table_th{
                text-align: left;
            }
            .introduced_table_team .introduced_table_th:nth-child(1),
            .introduced_table_team .introduced_table_td:nth-child(1){
                width: 175px;
                padding-right: 20px;
            }   

            .introduced_table_admin_user .introduced_table_th:nth-child(1),
            .introduced_table_admin_user .introduced_table_td:nth-child(1){
                width: 125px;
                padding-right: 20px;
            }

            .introduced_table_team .introduced_table_th:nth-child(2),
            .introduced_table_team .introduced_table_td:nth-child(2){
                width: 140px;
                padding-right: 20px;
            }

            .introduced_table_admin_user .introduced_table_th:nth-child(2),
            .introduced_table_admin_user .introduced_table_td:nth-child(2){
                width: 120px;
            }

            .introduced_table_team .introduced_table_th:nth-child(3),
            .introduced_table_team .introduced_table_td:nth-child(3){
                width: 97px;
                text-align: center;
            }   

            .introduced_table_admin_user .introduced_table_th:nth-child(3){
                width: 160px;
            }
            .introduced_table_admin_user .introduced_table_td:nth-child(3){
                width: 160px;
                padding-left: 30px;
            }
    /*====>  COMAND RAITING END    <====*/


    /*====>  ADMIN COMAND RAITING START  <====*/
        .authoriz_link{
            color: #2ed952;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            text-decoration: underline;
        }

            .authoriz_link:hover,
            .authoriz_link.active{
                color: #fff;
                text-decoration: underline;
            }

        .download_data_link{
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-decoration: underline;
            color: white;
            margin-top: 26px;
        }

        /*active*/

        .com_rait_activ_btn .btn_small_white:last-child{
            margin-left: 23px;
        }

        .introduced_table_input{
            width: 30px;
            height: 12px;
            line-height: 12px;
            font-size: 10px;
            border: 1px solid #f7f7f7;
            background: #fff;
            padding: 0 3px; 
            margin-left: 22px;
        }
    /*====>  ADMIN COMAND RAITING END    <====*/
    

    /*====>  ADMIN USER START  <====*/
        .admin_user_select .select_box{
            width: 153px;
        }
            .admin_user_select .jq-selectbox__select-text{
                text-align: left;
                font-size: 12px;
                font-weight: 400;
                line-height: 19px;
            }
    /*====>  ADMIN USER END    <====*/

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        
    }
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
