@import "../plugins/owl-carousel/owl.carousel.css";
@import "../plugins/flexslider/flexslider.css";



.slider_left_block{
	max-height: 692px;
	overflow: hidden;	
}
	.slide_left_block_item{
		float: left;
	}
	.slider_left_block.owl-carousel  .owl-item{
		float: left;	
	}

.profile_right_block.right2{
	margin-top: 99px;
}

.slider_table_block{
	position: relative;
	text-align: center;
}

.slider_table_block .flex-direction-nav{
	position: absolute;
	bottom: 3px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.slider_table_block .flex-direction-nav:after{
	content: "";
	display: block;
	clear: both;
}
.slider_table_block .flex-direction-nav li{
	display: inline-block;
}
.slider_table_block .flex-direction-nav li:first-child{
	float: left;
}
.slider_table_block .flex-direction-nav li:last-child{
	float: right;
}
.slider_table_block .flex-direction-nav a{
	position: static;
	display: inline-block;
}
.slider_table_block .flex-control-nav{
	z-index: 9;
	position: relative;
}
.flex-control-nav li{
	padding: 2px;
	margin: 0;
}
.pagination_list{
	display: none;
}
.slider_left_block .owl-controls{
	display: none !important;
}
.slider_table_block .slides,
.slider_table_block .slides > li{
	/* width: 100% !important; */
}
@media only screen and (max-width: 991px){
	.slider_table_block .flex-control-paging li a{
		padding: 0 5px;
	}
	.slider_table_block .flex-direction-nav{
		bottom: 3px;
	}
}
@media only screen and (max-width: 767px){
	.slider_left_block,
	.flex-viewport{
		max-height: 100%;
	}
	.introduced_table_team.mb17{
		margin-bottom: 0;
	}
	.slider_left_block.owl-carousel  .owl-item{
		padding: 0 1px;
	}
}